<div class="box">
    <h4>Latest Posts</h5>
    <ul class="list-group post-list mb-3">
        @foreach (var post in Blog.GetPosts(take: 4))
        {
            <li class="list-group-item mb-3">
                <a href="~/@post.Slug">
                    <article>
                        <header class="d-flex justify-content-between align-items-center">
                            @if (!string.IsNullOrEmpty(post.PrimaryImage))
                            {
                                <img src="~/@post.PrimaryImage" alt="@post.Title">
                            }
                            <span class="col">
                                <h6>@post.Title</h6>
                                <small>@post.Published.ToLongDateString()</small>
                            </span>
                        </header>
                    </article>
                </a>
            </li>
        }
    </ul>
</div>

<div class="box">
    <h4>Categories</h4>
    <ul class="list-group mb-3">
        @foreach (var cat in Blog.Categories.OrderByDescending(c => c.Count))
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @cat.Title <span class="badge bg-primary rounded-pill">@cat.Count</span>
            </li>
        }
    </ul>
</div>
